<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor type="HeadlessSc.Pipelines.HeadlessRequestUrlRewriteProcessor, HeadlessSc.Foundation"
                   patch:after="*[@type='Sitecore.Pipelines.PreprocessRequest.NormalizeRawUrl, Sitecore.Kernel']"/>
      </preprocessRequest>
      <httpRequestBegin>
        <processor type="HeadlessSc.Pipelines.HeadlessItemContextResolver, HeadlessSc.Foundation"
                   patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>      
      </httpRequestBegin>
      <mvc.getRenderer>
        <processor type="HeadlessSc.Pipelines.GetHeadlessRenderer, HeadlessSc.Foundation"
                   patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"/>
      </mvc.getRenderer>
      <headless.getRenderings>
        <processor type="HeadlessSc.Pipelines.GetRenderings.HeadlessItemContextResolver, HeadlessSc.Foundation" />
        <processor type="HeadlessSc.Pipelines.GetRenderings.GetRenderingsFromContextProcessor, HeadlessSc.Foundation" />
        <processor type="HeadlessSc.Pipelines.GetRenderings.FilterRenderingsForCurrentDeviceProcessor, HeadlessSc.Foundation" />
      </headless.getRenderings>
      <headless.getModel>
        <processor type="HeadlessSc.Pipelines.GetModel.GetModelProcessor, HeadlessSc.Foundation" />
      </headless.getModel>
      <headless.getFieldModel>
        <processor type="HeadlessSc.Pipelines.GetFieldModel.GetDefaultFieldModelProcessor, HeadlessSc.Foundation" />
      </headless.getFieldModel>
      <headless.getJsonSerializerSettings />

    </pipelines>
  </sitecore>
</configuration>
